//shared page content

//resets page style
* {
    margin: 0;
    padding: 0;
}

//common styles
$primaryRed: #F05A35;
$primaryYellow: #FFDA5D;
$primaryBlue: #0A1F30;
$primaryLightGrey: #EFEFEF;
$primaryDarkGrey: #555758;
$primaryFont: britannic;
$lightFont: lighter;
$selected: #F4C938;

//body style
body {
    font-family: calibri, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $primaryBlue;
    overflow: hidden;
}

//sidebar
.sidebar {
    left: 0;
    top: 0;
    width: 116px;
    height: 100%;
    background: $primaryYellow;
    text-align: center;
    line-height: 90px;
    position: fixed;
    z-index: 10;
}

@mixin navOptions {
    line-height: 16px;
    padding-top: 35px;
    padding-bottom: 35px;
}

@mixin navText {
    display: block;
}

.navOption {
    @include navOptions();
}

.sidebar a {
    text-decoration: none;
    color: $primaryBlue;
    letter-spacing: 0.7px;

    .navText {
        @include navText();
    }
}

//uppercase
.basketName, .totalAmount, .priceCalculation, .deal, .placeOrder {
    text-transform: uppercase;
}

//background design
.mainContent {
    background: radial-gradient(100% 910px at 55% -80px, #0A1F30 75%, transparent 75%);
    padding-left: 116px;
}

// header icons

//logo
.logo {
    left: 50px;
    top: 40px;
    position: relative;
}

//basket icon in header
.goBasketIcon {
    float: right;
    background-color: $primaryBlue;
    margin-right: 54px;
    margin-top: 20px;
    border: none;
}

//title of page
.headerText {
    top: 65px;
    font-style: italic;
    font-size: 45px;
    color: white;
    position: relative;
    width: 165px;
    padding-left: 58px;
    margin-left: auto;
    margin-right: auto;
}

//carousel
.carouselContainer {
    overflow: hidden;
    display: inline-flex;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.carouselSlide {
    max-height: 90vh;
    width: 87vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    user-select: none;

    .itemImg {
        max-width: 100%;
        max-height: 40%;
        transition: transform 0.3s ease-out;
    }

    //food name
    .itemTitle {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: $primaryYellow;
        font-family: $primaryFont;
    }

    //food price
    .itemPrice {
        color: white;
        font-size: 29px;
        font-weight: $lightFont;
        margin-left: 1rem;
        .dollar {
            color: white;
        }
    }

    //price brefore sale
    .presale {
        color: $primaryRed;
        font-size: 20px;
        text-decoration: line-through;
        .dollar {
            color: $primaryRed
        }
    }

    //Item description
    .itemDescription {
        font-size: 1.4rem;
        white-space: nowrap;
        margin-top: 5rem;
    }

    //dietary information
    .dietDetails {
        color: $primaryDarkGrey;
        font-size: 0.8rem;
        font-weight: $lightFont;
    }

    //quantity
    .quantity {
        font-size: 1.4rem;
        margin-top: 0.5rem;
    }
}

.grabbing {
    cursor: grabbing;
    .itemImg {
        transform: scale(0.9);
    }
}

//drop shadow
$dropShadow: 0em 0.15em 0.35em $primaryDarkGrey;

//border
$averageBorder: 10px;

//change quantity of item container
.changeQuantity {
    height: 2.5rem;
    width: 183px;
    border: none;
    box-shadow: $dropShadow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

//quantity plus and minus buttons
@mixin quantityButtons {
    background: $primaryYellow;
    border-radius: $averageBorder;
    display: inline-block;
    width: 51px;
    border: none;
    font-size: 32px;
}

//minus button
.minus {
    @include quantityButtons();
    background: $primaryLightGrey;
}

//plus button
.plus {
    @include quantityButtons();
}

//quantity input
.quantityInput {
    @include quantityButtons();
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
}

//border radius for order add section
$orderBorder: 20px;

//add to cart button
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryBlue;
    padding-left: 0px;
    border-radius: $orderBorder;
    background: $primaryBlue;
    width: 300px;
    height: 78px;
    border: none;
    box-shadow: $dropShadow;

    //basket icon
    .basket {
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0px;
        left: 0px;
        @include quantityButtons();
        height: 65px;
        width: 65px;
    }

    //add to basket text
    .addText {
        font-size: 27px;
        color: white;
        padding-left: 27px;
        padding-right: 27px;
        letter-spacing: 0.11px;
    }
}

//deal text
.deal {
    background-color: $primaryRed;
    font-size: 2rem;
    letter-spacing: 0.14px;
    font-weight: bold;
    font-style: italic;
    color: white;
    border-radius: $averageBorder;
    text-align: center;
    transform: rotate(9deg);
    position: relative;
    top: 55px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 180px;
    z-index: 10;
}


//sidebar

//navigation option positions and
@mixin navOption {
    position: relative;
}

//navigations options text for options with icons
@mixin navText {
    font-size: 25px;
    letter-spacing: 0.17px;
}

//top navigation option
.navOptionSelected {
    background-color: $selected;
    border-radius: 14px;
}

//navigation options
.navOption {
    @include navOption();

    .navText {
        @include navText();
    }

    //colour of selected nav option
    .selected {
        color: #F05A35;
    }
}

//background colour overlay
@mixin overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

//centres items
@mixin centre {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

//item added pop up
.itemAdded {
    //item added header text
    display: none;
    transform: (-50%, -50%) scale(0);

    .overlay {
        @include overlay();
    }

    h2 {
        color: $primaryYellow;
        top: 45px;
        @include centre();
        font-family: $primaryFont;
        font-size: 44px;
        letter-spacing: 0.66px;
        z-index: 16;
        position: absolute;
        padding-left: 0px;
    }

    //food image
    img {
        top: 115px;
        @include centre();
        padding-left: 0px;
        max-height: 25%;
        max-width: 25%;
    }

    //name of food
    .addQuantity {
        top: 300px;
        @include centre();
        display: inline-flex;
    }

    .whiteText {
        color: white;
        font-size: 24px;
        letter-spacing: 0.14px;
        padding-left: 0.5rem;
    }

    //quantity input
    .quantityInput {
        color: white;
        font-size: 24px;
        letter-spacing: 0.14px;
        padding-left: 0px;
    }

    //price calculation
    .price {
        top: 420px;
        @include centre();
        font-style: italic;
        letter-spacing: 0.12px;
        font-size: 29px;
        padding-left: 0px;

        .total {
            padding-right: 51px;
        }
    }
}

@mixin popup {
    @include centre();
    top: 212px;
    width: 561px;
    height: 600px;
    border-radius: 48px;
}

//white background
.whiteBackground {
    @include popup();
    background: white;
    z-index: 14;
}

//content inside the item added pop up

.itemAddedContent {
    @include popup();
    z-index: 15;
    background: radial-gradient(112% 555px at 50% -30px, $primaryBlue 75%, transparent 75%);
}

//pop up transition
.itemAdded.active {
    display: block;
    transition: all 300ms ease-in-out;
    transform: (-50%, -50%) scale(1);
}

.backNav {
    position: relative;
    top: 480px;
    padding-left: 1rem;
    padding-right: 1rem;
}

//style for return and go to basket buttons
@mixin backNavBtns {
    border-radius: 20px;
    width: 183px;
    height: 68px;
    box-shadow: drop-shadow(.5rem .5rem 1rem $primaryDarkGrey);
    border: none;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.11px;
}

//close add pop up
.return {
    left: 50px;
    background-color: $primaryLightGrey;
    @include backNavBtns();
}

//go to basket style
.goBasket {
    float: right;
    background-color: $primaryYellow;
    @include backNavBtns();
}


//basket pop up

//positions basket on screen when active
.basketContainer {
    .overlay {
        @include overlay();
        display: none;
    }
}

.goBasket.active {
    right: 0px;
}

.basketContainer {
    .basketContent {
        top: 0px;
        right: -380px;
        position: absolute;
        width: 376px;
        height: 1024px;
        background: $primaryBlue;
        z-index: 17;
        border: none;
        overflow-y: scroll;
    }
}

//overlay
.basketContainer.active {
    .overlay {
        display: block;
    }

    .basketContent {
        right: 0px;
    }
}

//positions basket item text
$basketMargin: 36px;

@mixin basketHeader {
    color: white;
    top: 39px;
    padding-left: 0px;
}

//basket title
.basketName {
    @include basketHeader();
    left: $basketMargin;
    font-size: 33px;
    letter-spacing: 1.45px;
    z-index: 18;
    position: absolute;
}

//basket close button
.basket {
    @include basketHeader();
    color: $primaryRed;
    font-size: 50px;
    background: none;
    border: none;
    flex-direction: column;
    float: right;
}

//basket z index
$basketZ: 18;

//basket item row style
@mixin rowTwoBasket {
    top: 100px;
    font-size: 24px;
    z-index: $basketZ;
    position: absolute;
    color: white;
    padding-left: 0px;
}

//item amount text
.itemAmount {
    left: $basketMargin;
    @include rowTwoBasket();
}

//calculate price in basket
.priceCount {
    right: $basketMargin;
    @include rowTwoBasket();
}

//basket item image
#basketItems {
    display: inline-block;
    padding-top: 50px;
}

.basketItem {
    z-index: $basketZ;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    //food image
    img {
        max-height: 40%;
        max-width: 40%;
    }

    .delete {
        position: relative;
        color: $primaryRed;
        font-size: 40px;
        ;
        top: 15px;
        border: none;
        background: none;
        left: 135px;
    }

    //food name
    .pizzaName {
        z-index: $basketZ;
        font-family: $primaryFont;
        color: $primaryYellow;
        padding-top: 10px;
        font-size: 29px;
        letter-spacing: 0.12px;
        padding-left: 0px;
    }

    //price
    .itemBasketPrice {
        z-index: $basketZ;
        color: white;
        top: 58px;
        font-size: 24px;
        letter-spacing: 0.12px;
        padding-left: 0px;
    }

    //item quantity
    .changeQuantity {
        background: white;
        margin-top: 1rem;
    }
}

//place order button
.placeOrder {
    background: $primaryYellow;
    width: 218px;
    height: 68px;
    border-radius: $orderBorder;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 0.11px;
    color: $primaryBlue;
    margin-left: auto;
    margin-right: auto;
}


//feedback page

//feedback background design
.mainFeedbackText {
    background: radial-gradient(100% 820px at 50% -30px, $primaryBlue 75%, transparent 75%);
    padding-left: 116px;
    height: 100vh;
}

//header text
#feedbackHeader {
    color: $primaryYellow;
    letter-spacing: 0.81px;
    font-size: 50px;
    display: flex;
    font-family: $primaryFont;
    position: relative;
    padding-top: 100px;
    text-align: center;
    left: 50px;
}

//span text
#feedbackText {
    color: white;
    letter-spacing: 0.87px;
    font-size: 29px;
    display: flex;
    position: relative;
    padding-top: 10px;
    left: 50px;
}

.commentBox {
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -0%);
    width: 70%;
    padding-left: 50px;

    textarea {
        width: 50vw;
        height: 50vh;
        padding: 15px 20px;
        margin-bottom: 10px;
        border-radius: 1em;
        border: 1px solid grey;
        box-shadow: $dropShadow;
        font-size: 27px;
        font-family: calibri;
        color: $primaryDarkGrey;
        font-style: italic;
    }

    button {
        border: 0px;
        padding: 10px 30px;
        border-radius: $averageBorder;
        background: $primaryYellow;
        font-weight: bold;
        letter-spacing: 0.11px;
    }

    button:hover {
        background: $selected;
    }
}