/* $name: ; to make aomething that can be used everywhere*/
/* Nesting like html with { &:{ } } // :: for after*/
/* import header and sidebar with @import "./url";*/
/* @mixin name {} lets you use a paragraph of styles*/
/* @mixin name($differentname) {} */
/* @extend nameofotherthing; you can add other styles on top*/
/* display: grid; */
/* grid-template-columns: px px px px columns*/
/* fr can be used instead of px. It devides the screen*/
/* repeat(multiply number, px number)*/
/* grid-auto-rows: basic value; creates as many rows as possible in that size*/
/* grid-auto-rows: minmax(start size, auto); gives minimum value and auto max value*/
/* grid-gap: puts gaps between rows and columns*/
/* grid-template-area: "header header"
"sidebar content"
"sidebar content"*/
/* grid-column-start: & grid-column-end: use for individual items to show how far they'll span*/
/* justify-content: aligns content on page*/
/* align-items: aligns in the grid*/
/*@import url(styles\sidebar.scss);*/
/*.grid {
    display: grid;

    /*24 columns
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px
    32px 32px 32px 32px 32px 32px 32px 32px 32px 32px
    32px 32px 32px 32px;

    /*32 rows
    grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px
    32px 32px 32px 32px 32px 32px 32px 32px 32px 32px
    32px 32px 32px 32px 32px 32px 32px 32px 32px 32px
    32px 32px;
}*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: calibri;
  position: absolute;
  left: 116px;
  color: #0A1F30;
}

.sidebar {
  left: 0;
  top: 0;
  width: 116px;
  height: 1024px;
  position: fixed;
  background: #FFDA5D;
  text-align: center;
  line-height: 90px;
}

.nav_option {
  vertical-align: top;
  display: block;
  text-align: center;
  line-height: 16px;
}

.sidebar a {
  text-decoration: none;
  color: #0A1F30;
  letter-spacing: 0.7px;
}

.sidebar a .nav_text {
  display: block;
}

.background-design {
  position: inline-block;
}

.logo {
  top: 32px;
  position: absolute;
  left: 42px;
  top: 40px;
  position: absolute;
}

.basket {
  top: 32px;
  position: absolute;
  right: 64px;
  top: 24px;
}

.header_text {
  left: 236px;
  top: 128px;
  position: absolute;
  font-style: italic;
  font-size: 45px;
  color: white;
}

.kale {
  width: 283px;
  top: 203px;
  left: 178px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
}

h3 {
  top: 483px;
  left: 216px;
  position: absolute;
  color: #FFDA5D;
  font-family: britannic;
  font-size: 38px;
}

.food_price {
  color: white;
  top: 532px;
  font-size: 29px;
  font-weight: lighter;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
}

.presale {
  left: 227px;
  top: 538px;
  position: absolute;
  color: #F05A35;
  font-size: 20px;
  text-decoration: line-through;
}

.kale_description {
  font-size: 29px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  top: 617px;
  white-space: nowrap;
}

.diet_details {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  top: 647px;
  color: #555758;
  font-size: 22px;
  font-weight: lighter;
}

.quantity {
  top: 701px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  font-size: 27px;
}

.change_quantity {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  height: 68px;
  width: 183px;
  border: none;
  -webkit-box-shadow: 0em 0.15em 0.35em #555758;
          box-shadow: 0em 0.15em 0.35em #555758;
  top: 741px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minus {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  height: 51px;
  width: 51px;
  border: none;
  font-size: 32px;
  background: #EFEFEF;
}

.plus {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  height: 51px;
  width: 51px;
  border: none;
  font-size: 32px;
}

.root_quantity {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  height: 51px;
  width: 51px;
  border: none;
  font-size: 32px;
  background: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 27px;
}

.add {
  color: #0A1F30;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  top: 866px;
  border-radius: 20px;
  background: #0A1F30;
  width: 300px;
  height: 78px;
  border: none;
  -webkit-box-shadow: 0em 0.15em 0.35em #555758;
          box-shadow: 0em 0.15em 0.35em #555758;
}

.add .basket {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  height: 51px;
  width: 51px;
  border: none;
  font-size: 32px;
  height: 65px;
  width: 65px;
}

.add .add_text {
  font-size: 27px;
  color: white;
  padding-left: 27px;
  padding-right: 27px;
  letter-spacing: 0.11px;
}

.deal {
  background-color: #F05A35;
  width: 176px;
  height: 42px;
  position: absolute;
  font-size: 36px;
  letter-spacing: 0.14px;
  font-weight: bold;
  font-style: italic;
  color: white;
  border-radius: 10px;
  text-align: center;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
  top: 197px;
  left: 300px;
  z-index: 10;
}

.carousel_button_right {
  top: 331px;
  position: absolute;
  border: none;
  background-color: #0A1F30;
  right: 135px;
}

.carousel_button_left {
  top: 331px;
  position: absolute;
  border: none;
  background-color: #0A1F30;
  left: 135px;
}

.nav_option_selected_top {
  background-color: #F4C938;
  border-radius: 14px;
}

.nav_option {
  top: 40px;
  position: relative;
}

.nav_option .nav_text {
  padding-bottom: 70px;
  font-size: 25px;
  letter-spacing: 0.17px;
}

.nav_option .nav_text_feedback {
  padding-bottom: 70px;
  font-size: 25px;
  letter-spacing: 0.17px;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.03px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 0px;
  top: 140px;
}

.nav_option .nav_text_help {
  padding-bottom: 70px;
  font-size: 25px;
  letter-spacing: 0.17px;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.03px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 0px;
  top: 200px;
}

.nav_option .selected {
  color: #F05A35;
}

/*
.item_added {
    top: 212px;
    position: absolute;
    width: 561px;
    height: 600px;
    border-radius: 48px;
    background: white;
    box-shadow: $dropShadow;
    z-index: 15;
}

.item_added_decoration {
    width: 561px;
    height: 600px;
    border-radius: 48px;
    z-index: 15;
    background: radial-gradient(112% 555px at 50% -30px, $primaryBlue 75%, transparent 75%);
}

.item_added {
    h2 {
        color: $primaryYellow;
        top: 45px;
        @include centre();
        font-family: $primaryFont;
        font-size: 44px;
        letter-spacing: 0.66px;
        z-index: 16;
        position: absolute;
    }

    img {
        top: 115px;
        position: absolute;
        @include centre();
    }

    .added_name {
        top: 300px;
        color: white;
        @include centre();
        font-size: 24px;
        letter-spacing: 0.14px;
    }

    .price {
        top: 420px;
        @include centre();
        font-style: italic;
        letter-spacing: 0.12px;
        font-size: 29px;

        .total {
            padding-right: 51px;
        }
    }
}

@mixin backNavBtns {
    border-radius: 20px;
    width: 183px;
    height: 68px;
    box-shadow: drop-shadow(.5rem .5rem 1rem $primaryDarkGrey);
    border: none;
    top:490px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.11px;
}


.return {
    left: 50px;
    background-color: $primaryLightGrey;
    position: absolute;
    @include backNavBtns();
}

.go_basket {
    right: 50px;
    background-color: $primaryYellow;
    position: absolute;
    @include backNavBtns();
}

/* background blur

.page {
    filter: blur(8px);
}

.blur_filter{
    height: 768px;
    width: 1024px;
    background-color: $primaryBlue;
    z-index: 14;
    position: absolute;
    top:0px;
    left:0px;
}

*/
.basket_container {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 376px;
  height: 1024px;
  background: #0A1F30;
  z-index: 17;
  border: none;
}

.basket_name {
  color: white;
  top: 39px;
  left: 36px;
  font-size: 33px;
  letter-spacing: 1.45px;
  z-index: 18;
  position: absolute;
}

.delete {
  color: white;
  top: 39px;
  right: 36px;
  position: relative;
}

.item_amount {
  left: 36px;
  top: 100px;
  font-size: 24px;
  z-index: 18;
  position: absolute;
  color: white;
}

.total_amount {
  right: 36px;
  top: 100px;
  font-size: 24px;
  z-index: 18;
  position: absolute;
  color: white;
}

.basket_item {
  padding-top: 155px;
  z-index: 18;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
}

.pizza_name {
  z-index: 18;
  font-family: britannic;
  color: #FFDA5D;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  padding-top: 10px;
  font-size: 29px;
  letter-spacing: 0.12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dollar_sign {
  z-index: 18;
  color: white;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  top: 380px;
  font-size: 24px;
  letter-spacing: 0.12px;
}

.delete span {
  color: #F05A35;
  font-size: 40px;
  left: 218px;
  position: absolute;
}

.basket_item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.change_basket_quantity {
  background: white;
  border-radius: 13px;
  width: 131px;
  height: 45px;
  border: none;
  top: 432px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change_basket_quantity .basket_minus {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  height: 51px;
  width: 51px;
  border: none;
  font-size: 32px;
  background: #EFEFEF;
  width: 34px;
  height: 34px;
  left: 20px;
}

.change_basket_quantity .basket_plus {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  height: 51px;
  width: 51px;
  border: none;
  font-size: 32px;
  width: 34px;
  height: 34px;
}

.place_order {
  background: #FFDA5D;
  width: 218px;
  height: 68px;
  border-radius: 20px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.11px;
  color: #0A1F30;
  top: 870px;
}
/*# sourceMappingURL=mustTry.css.map */