* {
  margin: 0;
  padding: 0;
}

body {
  font-family: calibri;
  color: #0A1F30;
  overflow: hidden;
}

.sidebar {
  left: 0;
  top: 0;
  width: 116px;
  height: 100%;
  background: #FFDA5D;
  text-align: center;
  line-height: 90px;
  position: fixed;
  z-index: 10;
}

.nav_option {
  vertical-align: top;
  display: block;
  text-align: center;
  line-height: 16px;
}

.sidebar a {
  text-decoration: none;
  color: #0A1F30;
  letter-spacing: 0.7px;
}

.sidebar a .nav_text {
  display: block;
}

.main_content {
  background: radial-gradient(100% 985px at 55% -80px, #0A1F30 75%, transparent 75%);
  padding-left: 116px;
}

.logo {
  left: 50px;
  top: 40px;
  position: relative;
}

.go_basket_icon {
  float: right;
  background-color: #0A1F30;
  margin-right: 54px;
  margin-top: 20px;
  border: none;
}

.header_text {
  top: 65px;
  font-style: italic;
  font-size: 45px;
  color: white;
  position: relative;
  width: 165px;
  padding-left: 58px;
  margin-left: auto;
  margin-right: auto;
}

.carousel_container {
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.carousel_slide {
  max-height: 100vh;
  width: 87vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel_slide .item_img {
  max-width: 100%;
  max-height: 40%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.carousel_slide .item_title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #FFDA5D;
  font-family: britannic;
}

.carousel_slide .item_price {
  color: white;
  font-size: 29px;
  font-weight: lighter;
  margin-left: 1rem;
}

.carousel_slide .presale {
  color: #F05A35;
  font-size: 20px;
  text-decoration: line-through;
}

.carousel_slide .item_description {
  font-size: 1.4rem;
  white-space: nowrap;
  margin-top: 1rem;
}

.carousel_slide .diet_details {
  color: #555758;
  font-size: 0.8rem;
  font-weight: lighter;
}

.carousel_slide .quantity {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.grabbing .item_img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.change_quantity {
  height: 2.5rem;
  width: 183px;
  border: none;
  -webkit-box-shadow: 0em 0.15em 0.35em #555758;
          box-shadow: 0em 0.15em 0.35em #555758;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.minus {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  width: 51px;
  border: none;
  font-size: 32px;
  background: #EFEFEF;
}

.plus {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  width: 51px;
  border: none;
  font-size: 32px;
}

.quantity_input {
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  width: 51px;
  border: none;
  font-size: 32px;
  background: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 27px;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0A1F30;
  padding-left: 0px;
  border-radius: 20px;
  background: #0A1F30;
  width: 300px;
  height: 78px;
  border: none;
  -webkit-box-shadow: 0em 0.15em 0.35em #555758;
          box-shadow: 0em 0.15em 0.35em #555758;
}

.add .basket {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  background: #FFDA5D;
  border-radius: 10px;
  display: inline-block;
  width: 51px;
  border: none;
  font-size: 32px;
  height: 65px;
  width: 65px;
}

.add .add_text {
  font-size: 27px;
  color: white;
  padding-left: 27px;
  padding-right: 27px;
  letter-spacing: 0.11px;
}

.deal {
  background-color: #F05A35;
  font-size: 2rem;
  letter-spacing: 0.14px;
  font-weight: bold;
  font-style: italic;
  color: white;
  border-radius: 10px;
  text-align: center;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
  position: relative;
  top: 55px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 180px;
  z-index: 10;
}

.nav_option_selected {
  background-color: #F4C938;
  border-radius: 14px;
}

.nav_option {
  top: 40px;
  position: relative;
}

.nav_option .nav_text {
  padding-bottom: 70px;
  font-size: 25px;
  letter-spacing: 0.17px;
}

.nav_option .nav_text_feedback {
  padding-bottom: 70px;
  font-size: 25px;
  letter-spacing: 0.17px;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.03px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 0px;
  top: 140px;
}

.nav_option .nav_text_help {
  padding-bottom: 70px;
  font-size: 25px;
  letter-spacing: 0.17px;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.03px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 0px;
  top: 200px;
}

.nav_option .selected {
  color: #F05A35;
}

.item_added {
  display: none;
  -webkit-transform: -50%, -50% scale(0);
          transform: -50%, -50% scale(0);
}

.item_added .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.item_added h2 {
  color: #FFDA5D;
  top: 45px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  font-family: britannic;
  font-size: 44px;
  letter-spacing: 0.66px;
  z-index: 16;
  position: absolute;
  padding-left: 0px;
}

.item_added img {
  top: 115px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  padding-left: 0px;
  max-height: 25%;
  max-width: 25%;
}

.item_added .add_quantity {
  top: 300px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
}

.item_added .added_name {
  color: white;
  font-size: 24px;
  letter-spacing: 0.14px;
  padding-left: 0px;
}

.item_added .quantity_input {
  color: white;
  font-size: 24px;
  letter-spacing: 0.14px;
  padding-left: 0px;
}

.item_added .price {
  top: 420px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  font-style: italic;
  letter-spacing: 0.12px;
  font-size: 29px;
  padding-left: 0px;
}

.item_added .price .total {
  padding-right: 51px;
}

.white_background {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  top: 212px;
  width: 561px;
  height: 600px;
  border-radius: 48px;
  background: white;
  z-index: 14;
}

.item_added_content {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  top: 212px;
  width: 561px;
  height: 600px;
  border-radius: 48px;
  z-index: 15;
  background: radial-gradient(112% 555px at 50% -30px, #0A1F30 75%, transparent 75%);
}

.item_added.active {
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: -50%, -50% scale(1);
          transform: -50%, -50% scale(1);
}

.back_nav {
  position: relative;
  top: 480px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.return {
  left: 50px;
  background-color: #EFEFEF;
  border-radius: 20px;
  width: 183px;
  height: 68px;
  -webkit-box-shadow: drop-shadow(0.5rem 0.5rem 1rem #555758);
          box-shadow: drop-shadow(0.5rem 0.5rem 1rem #555758);
  border: none;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.11px;
}

.go_basket {
  float: right;
  background-color: #FFDA5D;
  border-radius: 20px;
  width: 183px;
  height: 68px;
  -webkit-box-shadow: drop-shadow(0.5rem 0.5rem 1rem #555758);
          box-shadow: drop-shadow(0.5rem 0.5rem 1rem #555758);
  border: none;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.11px;
}

.basket_container .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}

.go_basket.active {
  right: 0px;
}

.basket_container .basket_content {
  top: 0px;
  right: -380px;
  position: absolute;
  width: 376px;
  height: 1024px;
  background: #0A1F30;
  z-index: 17;
  border: none;
}

.basket_container.active .overlay {
  display: block;
}

.basket_container.active .basket_content {
  right: 0px;
}

.basket_name {
  color: white;
  top: 39px;
  padding-left: 0px;
  left: 36px;
  font-size: 33px;
  letter-spacing: 1.45px;
  z-index: 18;
  position: absolute;
  /*
    color: white;
    padding: 20px;
    float: left;
    left: 36px;
    font-size: 33px;
    letter-spacing: 1.45px;
    z-index: 18;

    */
}

.basket {
  color: white;
  top: 39px;
  padding-left: 0px;
  color: #F05A35;
  font-size: 50px;
  background: none;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
}

.item_amount {
  left: 36px;
  top: 100px;
  font-size: 24px;
  z-index: 18;
  position: absolute;
  color: white;
  padding-left: 0px;
}

.price_count {
  right: 36px;
  top: 100px;
  font-size: 24px;
  z-index: 18;
  position: absolute;
  color: white;
  padding-left: 0px;
}

#basket_items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 50px;
}

.basket_item {
  z-index: 18;
  padding-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket_item img {
  max-height: 40%;
  max-width: 40%;
}

.basket_item .delete {
  position: relative;
  color: #F05A35;
  font-size: 40px;
  top: 15px;
  border: none;
  background: none;
  left: 135px;
}

.basket_item .pizza_name {
  z-index: 18;
  font-family: britannic;
  color: #FFDA5D;
  padding-top: 10px;
  font-size: 29px;
  letter-spacing: 0.12px;
  padding-left: 0px;
}

.basket_item .item_basket_price {
  z-index: 18;
  color: white;
  top: 58px;
  font-size: 24px;
  letter-spacing: 0.12px;
  padding-left: 0px;
}

.basket_item .change_quantity {
  background: white;
  margin-top: 1rem;
}

.place_order {
  background: #FFDA5D;
  width: 218px;
  height: 68px;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.11px;
  color: #0A1F30;
  margin-left: auto;
  margin-right: auto;
}

.main_feedback_text {
  background: radial-gradient(100% 820px at 50% -30px, #0A1F30 75%, transparent 75%);
  padding-left: 116px;
}

#feedback_header {
  color: #FFDA5D;
  letter-spacing: 0.81px;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: britannic;
  position: relative;
  padding-top: 100px;
  text-align: center;
  left: 50px;
}

#feedback_text {
  color: white;
  letter-spacing: 0.87px;
  font-size: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 10px;
  left: 50px;
}

.commentBox {
  top: 200px;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  padding-left: 50px;
}

.commentBox textarea {
  width: 554px;
  height: 528px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 1em;
  border: 1px solid grey;
  -webkit-box-shadow: 0em 0.15em 0.35em #555758;
          box-shadow: 0em 0.15em 0.35em #555758;
  font-size: 27px;
  font-family: calibri;
  color: #555758;
  font-style: italic;
}

.commentBox button {
  border: 0px;
  padding: 10px 30px;
  border-radius: 10px;
  background: #FFDA5D;
  font-weight: bold;
  letter-spacing: 0.11px;
}

.commentBox button:hover {
  background: #F4C938;
}
/*# sourceMappingURL=mustTry.css.map */